{% extends "base.html"%}
{% block content %}

<div class="container my-5">
  <div class="row align-items-center bg-light rounded-4 shadow-lg overflow-hidden card-hover">

    <!-- Cake Image -->
    <div class="col-md-4 text-center p-1">
      <img
        src="{{ url_for('static', filename='images/choc_carrot_2.jpg') }}"
        alt="Chocolate Carrot Cake"
        class="img-fluid rounded-3"
      >
    </div>

    <!-- Text Content -->
    <div class="col-md-4 p-1">
        <img
          src="{{ url_for('static', filename='images/oats.jpg') }}"
          alt="Cinnamon Oats Muffin"
          class="img-fluid rounded-3"
        >
    </div>

    <div class="col-md-4 text-center p-1">
      <img
        src="{{ url_for('static', filename='images/red_velvet_cookies.jpg') }}"
        alt="Caramel Pumpkin Cake Cookie"
        class="img-fluid rounded-3"
      >
    </div>

  </div>
</div>



{% endblock %}
