{% extends "base.html" %}
{% block header %}
<nav class="fixed top-0 w-full bg-white shadow-md z-50">
    <div class="max-w-7xl mx-auto px-4 flex items-center justify-center h-20">
        <h2 class="text-3xl font-cinzel font-light text-black flex items-center space-x-2">
            <span>Protea</span>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="w-16 h-auto">
            <span>Bakes</span>
        </h2>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="max-w-3xl flex flex-col justify-center mx-auto">
    <p class="text-2xl pb-4">Log In</p>
    <form action="{{url_for('login', next=request.args.get('next'))}}" method="POST">
        {{ form.hidden_tag() }}
        <div class="space-y-4">
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
        </div>
    </form>

    <a href="{{url_for('register')}}" class="mt-4 text-blue-500"> Don't have an account? Register one</a>
</div>
{% endblock %}

{% block footer %}
<footer class="mt-20 border-t bg-white w-full py-6">
    <div class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="w-16 h-auto">
    </div>
</footer>
{% endblock %}
